 * {
     box-sizing: border-box;
 }

 header {
     width: 400px;
     margin: auto;
     text-align: center;
     margin-top: 100px;
 }

 button {
     width: 400px;
     padding: 25px 65px;
     background-color: aquamarine;
     border: 6px outset rgb(52, 114, 111);
     border-radius: 50px;
     font-family: cursive;
     font-weight: bold;
     font-size: 42px;
     color: rgb(52, 114, 111);
     text-shadow: 1px 3px rgb(17, 43, 42);
     display: block;
 }

 button:active {

     background-color: rgb(120, 219, 186);

 }

 .image {
     width: 220px;
     max-width: 220px;
     margin: auto;
     margin-bottom: -14px;
     display: block;
 }

 /* animazione */

 #hype {
     display: none;
 }

 .animated #gg {
     display: none;
 }


 .animated #hype {
     display: block;

 }

 #do_it {
     display: none;
 }

 .animated #hello {
     display: none;
 }

 .animated #do_it {
     display: block;
 }