 *{ 
     box-sizing: border-box;
    }


header{
    width: 400px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
 
}

h1 {   
    padding: 25px 20px;
    background-color: rgb(106, 218, 218);
    border: 6px solid rgb(34, 32, 32);
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 42px;
    text-shadow: -1px 2px rgb(53, 116, 116);
    display: block;


    
}
.image{
    width: 220px;
    max-width: 220px;
    margin: auto;
    margin-bottom: -43px;
    display: block;
}

/* animazione */

#hype{
    display: none;
}   

.animated #gg{
    display: none;}

.animated #hype{
    display: block;

}

